<form action="/answer">
    <label for="question">Ask your coach anything :</label><br>
    <input type="text" id="question" name="question" placeholder="ask your question" value="<%= params[:question] %>">
    <input type="submit" id= "submit" value="Ask!">
</form>
